<%- include('header') -%> 

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, excepturi asperiores est quam facilis placeat nesciunt beatae fugit vel facere nostrum alias, ullam ipsa adipisci vero. Natus dignissimos ipsam aspernatur temporibus quibusdam porro facere doloremque! Praesentium nobis ut mollitia natus?</p>

<%- include('footer') -%> 